{% include "header.html" %}

    <div class="box" id="heading">
        <h1>
            {{ day }}
        </h1>
    </div>

    <div class="box">
            {% for work in works: %}
            <form action="{{ url_for('delete') }}" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="{{ work.id }}" onChange="this.form.submit()">
                    <p>{{ work.text }}</p>
                </div>
            </form>
            {% endfor %}


        <form class="item" action="{{ url_for('home') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.text(size=30, placeholder="New Item", autocomplete="off") }}
            <button type="submit">+</button>
        </form>
    </div>

{% include "footer.html" %}
